@import "./../../common/best-reset.css";
@import "./../../common/a11y.css";
@import "./../../common/base.css";

.coffee-lab {
  inline-size: 1440px;
  margin-inline: auto;
  /* background-color: yellow; */

  .coffee-lab__headline {
    text-align: center;
    
    h2 {
      font-weight: 100;
      font-size: 46px;
      text-transform: uppercase;
    }
    
    p {
      font-size: 18px;
      line-height: 1.4;
    }

    strong {
     font-weight: 700;
   }

    &::after {
      content: '';
      display: block;
      inline-size: 70px;
      block-size: 1px;
      margin: 55px auto;
      background-color: currentColor;
    }
  }

  .coffee-lab__list {
    --size: 392px;

    list-style: '';
    padding-inline-start: 0;
    /* inline-size: cale(var(--size) * 2); */
    text-align: center;
    font-size: 0;
    padding-inline-start: 100px;

    .coffee-lab__item{
      display: inline-block;
      inline-size: var(--size);
      block-size: var(--size);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50%;
      position: relative;
    }
    
    a {
      position: absolute;
      inset-block-end: 0;
      inset-inline-start: 50%;
      /* margin-inline-start: -25%; */
      transform:translate(-50%, -50px);
      text-decoration: none;
      font-size: 32px;
      color: #fff;
      font-weight: 700;
      line-height: 1.4;
      letter-spacing: 3.2px;
      text-transform: uppercase;
      white-space: nowrap;
      /* line-height: 44.8px; */

      &::after{
        content: '';
        display: block;
        background-color: #fff;
        block-size: 10px;
      }
    }

    .coffee-lab__item:first-child {
      background-image: url('./../../assets/cafew/coffee-lab-01-@2x.jpg');
      z-index: 1;
    }
    
    .coffee-lab__item:last-child {
      background-image: url('./../../assets/cafew/coffee-lab-02-@2x.jpg');
      inset-block-start: 100px;
      inset-inline-start: -100px;
    }
  }
}



