@import "./../../common/mordern-reset.css";
@import "./../../common/base.css";

h1,
p {
  line-height: 1.5;
}

h1 {
  margin-block: 1rem;
}

p:not(.card__description) {
  margin-block: 1rem;
}

/* 카드 컴포넌트 */

/* 카드 레이아웃 */
